link = "/product/"+product.slug
url =  product.thumbnail ? S3url+product.thumbnail.s200.path : "http://placehold.it/240x220";
isSale = product.variants.regular_price_min != product.variants.price_min
//li
  .product-item
    .pi-img-wrapper
      a(href=link)
        img.img-responsive(src=url, alt=product.name)
    h3
      a(href=link) #{product.name}
    .pi-price= __displayPrice(shop.currency, product.variants.price_min)
    form(data-type="classic-form", method="post", action="/cart/add").add2cart
      input(type="hidden", name="product[id]", value=product._id)
      input(type="hidden", name="product[qty]", value="1")
      if !product.variants.options.length
        input(type="hidden", name="product[variant_id]", value=Object.keys(product.variants.data)[0])
      button.btn.btn-default(type='submit', data-action="add_to_cart")= __('Add to cart')
    if isSale
      .sticker.sticker-sale

form.col-lg-4.col-md-4.col-sm-6(data-type="classic-form", method="post", action="/cart/add")
  .tile
    .badges
      if isSale
        span.sale Sale
    .price-label= __displayPrice(shop.currency, product.variants.price_min)
    if isSale
      .price-label.old-price 920,00 $
    a.img-product-background(href=link)
      img.img-heigth200(src=url, alt=product.name)
      span.tile-overlay

    if !product.variants.options.length
      input(type="hidden", name="product[variant_id]", value=Object.keys(product.variants.data)[0])
    .footer
      a.ellipsis-text(href=link) #{product.name}
      span by SoulKite
      button.btn.btn-primary(type='submit', data-action="add_to_cart")= __('Add to cart')
