extends layout

block content
  // Catalog Grid
  section.catalog-grid
    .container
      h2.with-sorting #{category.name}
      // Breadcrumbs
      ol.breadcrumb
        ol.breadcrumb
        li
          a(href='/') Home
        li
          a(href='/category/#{category.slug}') #{category.name}
      // Breadcrumbs Close
      .row
        // Tiles
        .col-lg-12.col-md-12.col-sm-12
          .row
            // Tile
            if categories.length
              each subcat in categories
                .col-lg-4.col-md-4.col-sm-12
                  .tile
                    a(href='/category/#{category.slug}/#{subcat.slug}')
                      img(src='#{config.S3.url}static/#{category.slug}-#{subcat.slug}.jpg', alt='#{category.slug}-#{subcat.slug} category')
                      span.tile-overlay
                    .footer
                      a(href='/category/#{category.slug}/#{subcat.slug}') #{subcat.name}