extends layout

block content
  // Breadcrumbs
  ol.breadcrumb
    li
      a(href='index.html') Kitesurfing
    li
      a(href='shop-filters-left-3cols.html') Packages
    li #{product.name}
  // Breadcrumbs Close
  // Shopping Cart Message
  section.cart-message
    i.fa.fa-check-square
    p.p-style3 "Nikon" was successfully added to your cart.
    a.btn-outlined-invert.btn-black.btn-sm(href='shopping-cart.html') View cart
  // Shopping Cart Message Close
  // Catalog Single Item
  url = product.thumbnail ? S3url+product.thumbnail.s400.path : "http://placehold.it/240x220";
  url_original = product.thumbnail ? S3url+product.thumbnail.original.path : "http://placehold.it/240x220";
  isSale = product.variants.regular_price_min != product.variants.price_min
  firstVariantId = Object.keys(product.variants.data)[0]
  section.catalog-single
    .container
      .row
        // Product Gallery
        .col-lg-6.col-md-6
          #prod-gal.prod-gal.master-slider
            if product && product.images && product.images.length>0
              each image in product.images
                .ms-slide
                  img(src=url,alt=product.name, data-src=S3url+image.files.s400.path)
                  img.ms-thumb(alt=product.name, src=S3url+image.files.s200.path)
        // Product Description
        .col-lg-6.col-md-6
          h1 #{product.name}
          .row
            if product.variants.stock_max > 0
              form.form-horizontal(role='form')
                input(type="hidden", name="product[id]", value=product._id)
                input(type="hidden", name="product[variant_id]", value=firstVariantId)

                if product.variants.options && product.variants.options.length
                    script.
                      var variants_data = !{JSON.stringify(product.variants.data)}
                    each v in product.variants.options
                      .col-lg-12.col-md-12
                        .form-group.row
                          label.col-sm-4.control-label #{v.name}:
                          .col-sm-8
                            select.form-control(name="product[variants]["+v.slug+"]", data-variant=v.slug)
                              each key_variant in v.list
                                option(value=key_variant) #{key_variant}
          if isSale
            .old-price #{__displayPrice(shop.currency, product.variants.regular_price_min)}
          .price #{__displayPrice(shop.currency, product.variants.price_min)}
          .buttons.group
            dispo = product.variants.stock_max>0 ? true : false
            .qnt-count
              a.incr-btn(href='#') -
              input#quantity.form-control(type='text', value="1")
              a.incr-btn(href='#') +
            a#addItemToCart.btn.btn-primary.btn-sm(href='#' disabled=!dispo)
              i.icon-shopping-cart
              if dispo
                | Add to cart
              else
                | Out of Stock
            //a.btn.btn-black.btn-sm(href='#')
              i.icon-heart
              | Add to wishlist
          p.p-style2 #{product.description}
          .row
            .col-lg-4.col-md-4.col-sm-5
              h3 Tell friends
              .social-links
                a(href='#')
                  i.fa.fa-tumblr-square
                a(href='#')
                  i.fa.fa-pinterest-square
                a(href='#')
                  i.fa.fa-facebook-square
            .col-lg-8.col-md-8.col-sm-7
              h3 Tags
              .tags
                a(href='#') Backpack
                | ,
                a(href='#') Chanel
                | ,
                a(href='#') Wristlet
          .promo-labels
            div(data-content='This is a place for the unique commercial offer. Make it known.')
              span
                i.fa.fa-truck
                | Free delivery
            div(data-content='This is a place for the unique commercial offer. Make it known.')
              i.fa.fa-space-shuttle
              | Deliver even on Mars
            div(data-content='This is a place for the unique commercial offer. Make it known.')
              i.fa.fa-shield
              | Safe Buy
  // Catalog Single Item Close
  // Tabs Widget
  section.tabs-widget
    // Nav tabs
    ul.nav.nav-tabs
      li.active
        a(href='#specs', data-toggle='tab') Specs
      li
        a(href='#descr', data-toggle='tab') Description
      li
        a(href='#review', data-toggle='tab') Reviews
    .tab-content
      // Tab1 (Specs)
      #specs.tab-pane.fade.in.active
        .container
          .row
            section.tech-specs
              .container
                .row
                  // Column 1
                  .col-lg-6.col-md-6.col-sm-6
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-dollar
                          span Best Price
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Affordable prices
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-umbrella
                          span Materials
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Waterproof materials
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-sort-numeric-asc
                          span City bags
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Any size
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-smile-o
                          span Mentions
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Give a smile
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-recycle
                          span Eco activity
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Eco-friendly materials
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-4
                          i.fa.fa-archive
                          span Package
                        .col-lg-8.col-md-8.col-sm-8
                          p.p-style2 Individual packing
                  // Column 2
                  .col-lg-6.col-md-6.col-sm-6
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-umbrella
                          span Materials
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Waterproof materials
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-4
                          i.fa.fa-archive
                          span Package
                        .col-lg-8.col-md-8.col-sm-8
                          p.p-style2 Individual packing
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-smile-o
                          span Mentions
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Give a smile
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-dollar
                          span Best Price
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Affordable prices
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-recycle
                          span Eco activity
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Eco-friendly materials
                    // Item
                    .item
                      .row
                        .col-lg-4.col-md-4.col-sm-3
                          i.fa.fa-sort-numeric-asc
                          span City bags
                        .col-lg-8.col-md-8.col-sm-9
                          p.p-style2 Any size
                    // Item
      // Tab2 (Description)
      #descr.tab-pane.fade
        .container
          .row
            .col-lg-4.col-md-5.col-sm-5
              img.center-block(src='/themes/basic/img/posts-widget/1.jpg', alt='Description')
            .col-lg-8.col-md-7.col-sm-7
              p.p-style2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
              .row
                .col-lg-3.col-md-4.col-sm-5.col-xs-6
                  h4 Unordered list
                  ul
                    li List item
                    li
                      a(href='#') List item link
                    li List item
                .col-lg-3.col-md-4.col-sm-5.col-xs-6
                  h4 Ordered list
                  ol
                    li List item
                    li
                      a(href='#') List item link
                    li List item
      // Tab3 (Reviews)
      #review.tab-pane.fade
        .container
          .row
            // Disqus Comments Plugin
            .col-lg-10.col-lg-offset-1
              #disqus_thread
              script(type='text/javascript').
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = '8guild'; // required: replace example with your forum shortname
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              noscript
                | Please enable JavaScript to view the
                a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
              a.dsq-brlink(href='http://disqus.com')
                | comments powered by
                span.logo-disqus Disqus
  // Tabs Widget Close
  // Special Offer
  section.special-offer
    .container
      h2 Special offer
      .row
        // Tile
        .col-lg-3.col-md-3.col-sm-3
          .tile
            .price-label 715,00 $
            a(href='#')
              img(src='/themes/basic/img/offers/special-offer.png', alt='Special Offer')
              span.tile-overlay
            .footer
              a(href='#') The Buccaneer
        // Plus
        .col-lg-1.col-md-1.col-sm-1
          .sign +
        // Tile
        .col-lg-3.col-md-3.col-sm-3
          .tile
            .price-label 715,00 $
            a(href='#')
              img(src='/themes/basic/img/offers/special-offer.png', alt='Special Offer')
              span.tile-overlay
            .footer
              a(href='#') The Buccaneer
        // Equal
        .col-lg-1.col-md-1.col-sm-1
          .sign =
        // Offer
        .col-lg-4.col-md-4.col-sm-4
          .offer
            h3.light-color save
            h4.text-primary 100,00 $
            a.btn.btn-primary(href='#') Buy for 1200$
  // Special Offer Close
